<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Наименование</th>
                    <th scope="col">Количество</th>
                    <th scope="col"><button (click)="onAddProduct()" class="btn btn-primary">Добавить</button></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let purchas of purchase">
                    <th *ngIf="purchas.status == 'false'" class="table-success">{{purchas.id}}</th>
                    <td *ngIf="purchas.status == 'false'" class="table-success">{{purchas.name}}</td>
                    <td *ngIf="purchas.status == 'false'" class="table-success">{{purchas.amount}}</td>
                    <td *ngIf="purchas.status == 'false'" class="table-success"><button (click)="onLinkProduct(purchas.id)" class="btn btn-primary">Изменить</button> <button (click)="onSwap(purchas.id)" class="btn btn-primary">Куплено</button></td>
                  </tr>
                  <tr *ngFor="let purchas of purchase">
                    <th *ngIf="purchas.status == 'true'" class="">{{purchas.id}}</th>
                    <td *ngIf="purchas.status == 'true'" class="">{{purchas.name}}</td>
                    <td *ngIf="purchas.status == 'true'" class="">{{purchas.amount}}</td>
                    <td *ngIf="purchas.status == 'true'" class=""><button (click)="onLinkProduct(purchas.id)" class="btn btn-primary">Edit</button><button (click)="onSwap(purchas.id)" class="btn btn-primary">Не куплено</button></td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
